# Forex Quant Trading Project
.env
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
build/
.vscode/
notebooks/.ipynb_checkpoints/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
logs/*.log
